.cardsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 30px;
}

.salesChartConatiner {
    display: flex;
    width: 100%;
    margin-top: 30px;
    gap: 30px;
}

.productsTable {
    margin-top: 30px;
}

.salesChart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
}

.categorySalesChart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
}

.salesChart > h4 {
    color: #121F43;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.categorySalesChart > h4 {
    color: #121F43;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}